<table>
  <thead class="report-header">
    <tr>
      <td>Assigned to</td>
      <td>Issue id</td>
      <td>Project name</td>
      <td>Time</td>
      <td>Coefficient</td>
    </tr>
  </thead>
  <tbody class="table-content">
    <% @issues.each do |issue| %>
    <tr>
      <td><%= issue.assigned_to.name %></td>
      <td><%= issue.id %></td>
      <td><%= issue.project.name %></td>
      <td><%= issue.time_entries.to_a.sum(&:hours) - issue.salary_report_entries.to_a.sum(&:time_amount) %></td>
      <td><%= 1 %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<button type="submit" class="create-report">Create report</button>

<script>
  $( document ).ready(function() {
    $('button.create-report').click(function () {
      const tbody = document.getElementsByClassName("table-content")[0];
      const issues = Array.prototype.slice.call( tbody.children );
      const entries = issues.map(issue => {
        return {
          issue_id: issue.cells[1].textContent,
          time_amount: issue.cells[3].textContent,
          coefficient: issue.cells[4].textContent,
        };
      });
      function redirectPost(url, data) {
        var form = document.createElement('form');
        document.body.appendChild(form);
        form.method = 'post';
        form.action = url;
        for (var name in data['entries']) {
          const object = data['entries'][name];
          if(object.time_amount == 0)continue;
            for(value in object){
              var input = document.createElement('input');
              input.type = 'hidden';
              input.name = 'entries[][' + value + ']';
              input.value = object[value];
              form.appendChild(input);
            }
        }
        if(form.children.length != 0){
          form.submit();
        }else{
          console.log("FAILURE");
          // TODO
        }
      }
      redirectPost("<%= salary_reports_url %>", { entries: entries });
    });
  });
</script>
