<table class="list issues odd-even">
  <thead>
    <tr>
      <th>Assigned to</th>
      <th>Issue id</th>
      <th>Hours</th>
      <th>Coefficient</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody class="table-content">
    <% @entries.each.with_index do |entry, index| %>
    <tr class="<%= index % 2 == 0 ? 'even' : 'odd' %> issue">
      <td><%= entry.issue.assigned_to %></td>
      <td><%= entry.issue.id %></td>
      <td><%= entry.hours %></td>
      <td><%= entry.coefficient %></td>
      <td>$<%= entry.coefficient * entry.hours %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="4"></td>
      <td>$<%= @report.money_amount %></td>
    </tr>
  </tbody>
</table>

<% if @report.payed_at %>
<div class="status">Payed</div>
<% else %>
<div class="buttons">
  <%= link_to 'Delete report', salary_report_path(@report),
                               method: :delete,
                               class: 'delete-report',
                               data: {confirm: "You sure?"} %>
  <%= link_to 'Proceed payment', salary_report_path(@report),
                                 method: :post,
                                 class: 'procceed-payment' %>
</div>
<% end %>

<style>
.status{
  color: white;
  background-color: green;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  font-size: 1.5rem;
  float: right;
}
</style>
